body{
    background-color: rgb(139, 23, 120);
}
form{
    background-color: black;
    width: 400px;
    height: 450px;
    margin: 50px auto;
    padding: 25px;  
    border-radius: 7%;
    
}
h2{
    text-align: center;
    color: white;
}
label{
    color:white;
    margin-top: 5px;
    display: inline-block
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
}

input:first-child{
    position: relative;
    right: -50px;
}